{% extends '@nytwig/master.html.twig' %}

{% block title %}Hello Dashboard!{% endblock %}

{% block content %}

<div id="ny-dashboard">

    <div class="sidebar-left">
        <h2>Admin Menu</h2>
        <nav>
            <ul>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/pages">Pages</a></li>
                <li><a href="/">Website Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <h1>Dashboard</h1>
        <p>main body</p>
    </div>
</div>

{% endblock %}
