{% extends '@nytwig/master.html.twig' %}

{% block title %}Hello Dashboard!{% endblock %}

{% block content %}

<div id="ny-dashboard">

    <div class="sidebar-left">
        <p>this is the left menu</p>
    </div>

    <div class="main">
        <h1>Dashboard</h1>
        <p>main body</p>
    </div>
</div>

{% endblock %}
